<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .div {
        margin: auto;
        width: 60%;
        border: 3px solid #73ad21;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="div">
      <h1>Scholar ship portal</h1>
      <h2>For Fresh Register</h2>
      Register New Application<a href="{{url_for('register')}}">Register</a
      ><br />
      Login for Application <a href="{{url_for('login')}}">Login</a>
    </div>
  </body>
</html> -->

{% extends 'layout.html' %} {%block content%}
<style>
  .div {
    margin: auto;
    width: 60%;
    border: 3px solid #73ad21;
    padding: 10px;
  }
</style>
<div class="div">
  <h1>Welome to Online food court click on Hotel to show</h1>
</div>
{%endblock content %}
