<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{current_user.username}}</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      <h3>upload your 10th marks memo</h3>
      <label for="myfile">Select a file:</label>
      <input type="file" id="myfile" name="myfile" /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
